In [3]:
num = int(input("Enter a number: "))
if (num % 2) == 0:
    print('{0} is even'.format(num))
else:
    print('{0}is odd'.format(num))

2 is even

In [10]:
def vowel_remover(sentence):
    for vowel in 'aeiou':
        sentence=sentence.replace(vowel,'')
        return sentence
def max_2_n_3(num_list):
    num_list.sort()
    return num_list[-3],num_list[-2]

In [9]:
vowel_remover('adarshtripathi')

'drshtripthi'

In [18]:
x=[1,2,3,4,66,77,44]
max_2_n_3(x)

(44, 66)

In [20]:
x.sort()
x

[1, 2, 3, 4, 44, 66, 77]

In [21]:
#type of parameter settings in function
#required
#named
#default
#args,kwargs
def add(a,b,c):
    return a+b+c

In [22]:
add(2,3,5)

10

In [30]:
print(add(c=3,b=5,a=1))
print(add(10,c=5,b=5))
print(add(a=1,b=2,c=5))

9
20
8

In [31]:
def addv2(a,b,c=6):
    return a+b+c

In [33]:
addv2(10,5)
addv2(10,5,23)
addv2(10,5,c=45)
addv2(b=0,c=8,a=4)

12

In [34]:
def addv3(a=0,b=8,c=5):
    return a+b+c

In [35]:
def sum_of_evens(*numbers):
    if len(numbers)>0:
        total=0
        for val in numbers:
            if val%2==0:
                total+=val
        return total
    else:
        return 0

In [36]:
sum_of_evens(1,2,3,4,5,6,7,8,9,55,4,33,44,55,)

68

In [24]:
def check():
    print('this is a boring function')

In [25]:
check()

this is a boring function

In [26]:
check()
check()

this is a boring function
this is a boring function

In [27]:
x=[1,3,4,5]
x.reverse()
x

[5, 4, 3, 1]

In [28]:
print()

parameterized

In [1]:
def divide(a,b,c):
    ans=a/b/c
    print(ans)

In [2]:
divide(10,3,15)

0.22222222222222224

In [3]:
divide(1,2,3)

0.16666666666666666

In [4]:
a=int(input('>'))
b=int(input('>'))
c=int(input('>'))
divide(a,b,c)

0.015032679738562092

example

In [5]:
def update_salary(old_salary):
    new_salary = old_salary + old_salary * .09
    print(f"{old_salary} -> {new_salary}")

def update_travel_allowance(old_salary):
    new_salary = old_salary + old_salary * .05
    print(f"{old_salary} -> {new_salary}")

In [6]:
update_salary(30000)
update_travel_allowance(32700)

30000 -> 32700.0
32700 -> 34335.0

returning value

In [7]:
def update_salary(old_salary):
    new_salary = old_salary + old_salary * .09
    return new_salary

def update_travel_allowance(old_salary):
    new_salary = old_salary + old_salary * .05
    return new_salary

In [8]:
print(update_salary(30000))

32700.0

In [9]:
usal = update_salary(30000)
print(usal)

32700.0

In [11]:
update_salary(30000) * .15

4905.0

In [12]:
update_salary(update_travel_allowance(30000))

34335.0

# waf to check if a number is even or odd

# waf to remove all the vowels from a sentence passed as argument

# waf to find the second and third highest value in a list, list should be pass as argument